body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}
.right-links{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#first_section{
    background-color: #1f2937;
    gap: 50px;
}

.hero-title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

img{
    width: 300px;
    height: auto;
}
#second_section{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cards{
    list-style: none;
    display: flex;
    flex: 1;
    gap: 30px;
}

.card > img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    
}

.card > figcaption {
    align-self: center;
    margin-top: 8px;
}

.footer{
    width: 100%;
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
}
