body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: auto;
    flex: 1;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}
.right-links{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.footer{
    width: 100%;
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
}
